.board {
  width: 55vh;
  height: 58vh;
  background-color: #292d36;
  border-radius: 30px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
  border-color: white;
}
