.display {
  width: 55vh;
  height: 34vh;
  display: flex;
  flex-wrap: wrap;
  text-align: right;
  align-content: flex-end;
  color: #ffff;
}

.operation {
  width: 55vh;
  height: 16vh;
  padding-right: 4vh;
  font-size: 4vh;
  color: #b9babc;
}
.operador {
  color: #d25f5f;
}

.resultLarge {
  width: 45vh;
  height: 12vh;
  padding-right: 4vh;
  font-size: 8vh;
}

.resultMedium {
  width: 45vh;
  height: 12vh;
  padding-right: 4vh;
  font-size: 6vh;
}

.resultSmall {
  width: 45vh;
  height: 8vh;
  padding-right: 4vh;
  font-size: 4vh;
}
